body{background-color: bisque;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

#circle{background-color:rgb(44, 44, 44);
    display:flex;
width:25vw;
height:25vw;
border-radius:50%;
align-items: center;
justify-content: center;
margin-left:auto;
margin-right:auto;
color:red;}

div p{
    background-color: beige;
    width:75%;
    margin-left:auto;
    margin-right:auto;

}


.header{text-align: center;
color:rgb(60, 57, 57);
background-color: yellowgreen;
border-radius: 20rem;
width:66%;
margin-left:auto;
margin-right:auto;
}

#instructions{width:65%;
margin-left:auto;
margin-right:auto;}

#lock{display:flex;
text-align: center;
flex-flow:column wrap;
}


.menu{float: right;}

#recipeForm{width:50%;
display:block;
margin-left:auto;
margin-right:auto;
}

#recipeImg{width:25%;
display:block;
margin-left:auto;
margin-right:auto;
}

.red{color:rgb(116, 3, 3);
font-weight: bolder;
font-size: 5em;
}

.subHeader{text-align: center;
color:rgb(60, 57, 57);
background-color: yellowgreen;
border-radius: 20rem;
width:50%;
margin-left: auto;
margin-right:auto;
}


table{margin-left:auto;
margin-right:auto;
margin-top: 3vh;
border: 2px solid black
}

th{font-weight: bold;
color:rgb(58, 58, 58);
text-align: center;
}

td{text-align: center;
border:1px solid black
}